certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
contextlib2==21.6.0
docker==5.0.3
Flask==1.1.2
Flask-API==2.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
lxml==4.6.3
MarkupSafe==2.0.1
netifaces==0.11.0
nsenter==0.2
pathlib==1.0.1
psutil==5.8.0
py==1.10.0
py-cpuinfo==8.0.0
pyshark==0.4.3
python-dateutil==2.8.2
python-iptables
PyYAML==6.0
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.25
urllib3==1.26.7
uWSGI==2.0.20
websocket-client==1.2.1
Werkzeug==1.0.1